.container {
  display: flex;
}

.text {
  color: #aaa;
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 30px;
  min-height: 30px;
  font-size: 14px;
}

.cin {
  color: #0f0;
}

.choice {
  color: #808;
}
